*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}


body{
   display: flex;
   justify-content: center;
   align-items:  center;
   height: 100vh;
   background-color: hsl(47, 88%, 63%);
}

.container{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 10px 10px 0px black;
    border-radius: 30px;
    background-color: white;
}


.container img{
    margin: 30px;
    border-radius: 20px;
}


.word p{
    position: absolute;
    left: 41%;;
    bottom: 49%;
    background-color: orange;
    font-weight: bolder;
}

.word h5{
    position: absolute;
    left: 41%;
    bottom: 46%;
}

.aba{
   position: absolute;
     bottom: 39%;
     margin: 30px;
     font-weight: bolder;
}


.description p{
    position: absolute;
    bottom: 31%;
    width: 350px;
    margin: 30px;
    color: gray;
}


.image img{
    position: absolute;
    bottom: 25%;
    border-radius: 50%;
    width: 40px;

}

.image p{
     position: absolute;
     bottom: 29%;
     left: 44%;
     font-weight: bolder;
}



